<aside class="container">
    <ul class="aside">
      <% categories.forEach(function(category) { %>
        <li>
          <a href=<%= category.link %>><i class="<%= category.icon %>"></i><%= category.name %> </a>
        </li>
      <% }); %>
    </ul>
</aside>