<footer class="container footer">
    <div class="copyright">
      <h4><span>&copy;</span>All rights reserved.</h4>
    </div>
    <div class="links">
      <ul>
        <li>Navigation</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li>
          <a href="">
            <i class='bx bxl-github' ></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class='bx bxl-linkedin-square'></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class='bx bxl-twitter' ></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class='bx bx-envelope' ></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="../../public/main.js"></script>
</body>
</html>