<div class="tags-container">
  <h3>Tags</h3>
  <ul class="tags">
    <% tags.forEach(function(tag) { %> 
    <li>
      <i class='bx bxs-purchase-tag'></i>
      <a href="#"><%= tag.name %></a>
    </li>
    <% }); %> 
    <li>
      <i class='bx bxs-purchase-tag'></i>
      <a href="/tags">All Tags</a>
    </li>
  </ul>
</div>
