<div class="tags-container">
  <h3>Tags</h3>
  <ul class="tags">
    <% tags.forEach(function(tag) { %> 
    <li>
      <i class="bx bx-purchase-tag"></i>
      <a href="#"><%= tag.name %></a>
    </li>
    <% }); %> 
    
  </ul>
</div>
