// Colors
$color-bg: #f9f4ec;
$color-black: #000;
$color-gray: #535351;
$color-orange: #fabea1;
$color-blue: #c2dddf;
$color-yellow: #f8e177;
$color-white: #fff;

// Fonts
$ff-1: "Playfair Display", serif;
$ff-2: "Poppins", sans-serif;

// Max-width
$max-width: 1100px;

// Breakpoints
$lg: 960px;
$md: 769px;
$sm: 480px;
$mb: 420px;

// bordes 

$border: 2px solid $color-black;