<%- include('./includes/header.ejs') %>

<main class="container page_not_found">
  <h2>404</h2>
  <h3>Page not found</h3>
  <p>We can´t seem to find the page you´re looking for.</p>
  <button class="btn xl"><a href="/">Home</a></button>
</main>

<%- include('./includes/footer.ejs') %>
