<%- include('./includes/header.ejs') %>

<div class="about-container">
  <div class="title-text">
    <h4>About Me</h4>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nulla
    recusandae similique ut repudiandae earum suscipit ex, consequuntur vel
    repellendus saepe esse incidunt blanditiis, consequatur doloremque quos
    beatae dolorum animi. Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Mollitia odio at harum, sint beatae cum error nostrum ad laboriosam
    quos dolorum pariatur. Nesciunt, dicta eius. Reiciendis consequuntur facilis
    labore asperiores?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis odio animi
    itaque ullam debitis, error nisi magnam dolores delectus velit optio dolorem
    porro, molestiae alias modi. Voluptas et velit itaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id neque assumenda
    explicabo pariatur animi aperiam omnis error delectus quae voluptates! Earum
    illo iure totam explicabo fuga nesciunt cumque accusantium iste.
  </p>
</div>

<%- include('./includes/footer.ejs') %>
