<%- include('./includes/header.ejs') %>

<%- include('includes/title-nav', {title: "about", links: [
  {name: "home",ref: "/"},
  {name: "about",ref: "/about"}
]}) %>

<main class="container">

  <div class="about-content">
    <div class="about-section">
      <div class="content-img">
        <i class="bx bxl-markdown"></i>
      </div>
      <div class="content-text">
        <h3>Make your posts with Markdown</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos
          aliquam accusamus similique dolorum hic fugit explicabo vitae
          saepe obcaecati porro harum aspernatur.
        </p>
      </div>
    </div>

    <div class="about-section">
      <div class="content-text">
        <h3>Add unlimited posts totally free</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos
          orro harum aspernatur. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Eaque consequuntur beatae blanditiis culpa.
        </p>
      </div>
      <div class="content-img">
        <i class="bx bx-add-to-queue"></i>
      </div>
    </div>

    <div class="about-section">
      <div class="content-img">
        <i class="bx bx-save"></i>
      </div>
      <div class="content-text">
        <h3>Save your posts in a totally safe way</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos hic
          fugit explicabo vitae saepe obcaecati porro harum aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</main>


<%- include('./includes/footer.ejs') %>
