<%- include('includes/header') %>

<%- include('includes/title-nav', {title: info.name, links: [
  {name: "home",ref: "/"},
  {name: "categories",ref: "/categories"},
  {name: info.name ,ref: "/categories/" + info.name},
]}) %>

<div class="container">
  <%- include('includes/posts', {posts, info, ref: '/categories/' + info.name + "?"}) %> 
</div>


<%- include('includes/footer') %>
