<%- include('./includes/header.ejs') %>

<div class="title-container">
  <div class="title">
    <h3>Dashboard</h3>
  </div>
  <div class="nav-title">
    <p><a href="#">Home</a></p>
    <i class='bx bx-chevron-right'></i>
    <p class="active">Dashboard</p>
  </div>      
</div>

<main class="container">

  <div class="dashboard">
    <form>
      <div class="form-field">
        <label>Title :</label>
        <input type="text" placeholder="Enter a title" />
      </div>
      <div class="form-field">
        <label>Description :</label>
        <input type="text" placeholder="Enter a description" />
      </div>
      <div class="form-field">
        <label>Markdown :</label>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Enter a markdown sintax"
        ></textarea>
      </div>

      <button class="btn">Submit</button>
    </form>
  </div>
</main>



<%- include('./includes/footer.ejs') %>