<%- include('./includes/header.ejs') %>

<main class="container">
    <div class="title">
      <h3>Dashboard</h3>
    </div>

    <div class="dashboard">
      <form>
        <div class="form-field">
          <label>Title :</label>
          <input type="text" placeholder="Enter a title" />
        </div>
        <div class="form-field">
          <label>Description :</label>
          <input type="text" placeholder="Enter a description" />
        </div>
        <div class="form-field">
          <label>Markdown :</label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Enter a markdown sintax"
          ></textarea>
        </div>

        <button class="btn xl">Submit</button>
      </form>
    </div>
  </main>

<%- include('./includes/footer.ejs') %>