<%- include('./includes/header.ejs') %>

<div class="home-container">
  <div class="title-text">Home Page</div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
    veniam sequi ea. Perspiciatis veritatis aliquam suscipit officia soluta
    minus ut natus, cupiditate aliquid similique iure, sit sunt sapiente culpa,
    reiciendis provident! Repellendus nam nostrum et tempore ad iste quis,
    sapiente placeat minus possimus voluptatibus velit nulla enim debitis
    recusandae quaerat eligendi consequatur facilis, impedit maxime itaque,
    aspernatur laudantium sunt! Nemo, vel non in neque, quod facilis dolorum
    quaerat commodi quam quasi illo fugiat nam necessitatibus, saepe
    exercitationem ipsam deleniti voluptatibus harum veritatis. Beatae,
    blanditiis laboriosam accusamus in quasi, officia eaque consequatur ab cum
    libero a sit.
  </p>

  <div class="box">
    <div class="single-blog">
      <div class="title">Title Text</div>
      <span> created at 2020 5 18 </span>
      <div class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut maiores
        eveniet molestiae odio porro, nulla, ab temporibus iusto aperiam quod
        neque. Nostrum quae, nihil at repellat dolor nisi in nemo.
      </div>
    </div>
  </div>
</div>

<%- include('./includes/footer.ejs') %>
