<%- include('includes/header') %>

<%- include('includes/title-nav', {title: `Tag: "${info.tag}"`, links: [
  {name: "home",ref: "/"},
  {name: "posts",ref: "/posts"},
  {name: "search",ref: "/"},

]}) %>

<div class="container">
    <%- include('includes/posts', {posts, info, ref: `/posts?tag=${info.tag}&&`}) %> 
</div>

  



<%- include('includes/footer') %>