<%- include('includes/header') %>

<%- include('includes/title-nav', {title: (info.tag) ? `Search by tag: "${info.tag}"` : `All Posts` , links: [
  {name: "home",ref: "/"},
  {name: "posts",ref: "/posts"},

]}) %>


<div class="container">
    <%- include('includes/posts', {posts, info, ref: (info.tag) ? `/posts?tag=${info.tag}&&` : '/posts?'}) %> 
</div>

  



<%- include('includes/footer') %>