* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif; }

body {
  background: #f9f4ec;
  color: #000; }

html,
body {
  position: relative;
  overflow-x: hidden; }

/* Components */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  /* border: 1px solid red; */ }
  @media screen and (max-width: 480px) {
    .container {
      padding: 0 .5rem; } }

.btn {
  background: #000;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer; }

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; }
  @media screen and (max-width: 769px) {
    .article-container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; }
  @media screen and (max-width: 480px) {
    header.container {
      padding: 0 0.8rem; } }
  header .menu-icon {
    font-size: 2.3rem;
    display: none; }
    @media screen and (max-width: 769px) {
      header .menu-icon {
        display: block;
        cursor: pointer; } }
  @media screen and (max-width: 769px) {
    header .menu {
      position: absolute;
      background: #f9f4ec;
      right: -100%;
      top: 80px;
      height: calc(100% - 80px);
      width: 100%;
      z-index: 100;
      transition: all 0.3s ease-in-out;
      opacity: 0; } }
  @media screen and (max-width: 769px) {
    header .menu.active {
      opacity: 1;
      right: 0; } }
  header .menu ul {
    display: flex;
    align-items: baseline; }
    @media screen and (max-width: 769px) {
      header .menu ul {
        flex-direction: column;
        align-items: center; } }
    header .menu ul li {
      list-style: none;
      margin: 0 8px; }
      @media screen and (max-width: 769px) {
        header .menu ul li {
          margin: 0.6rem 0; } }
      header .menu ul li a {
        text-decoration: none;
        font-weight: 600;
        color: #000;
        padding: 2px 3px; }
        header .menu ul li a:hover {
          border-bottom: 2px solid #000; }
      header .menu ul li button a {
        text-decoration: none;
        font-weight: 600;
        color: #fff;
        padding: 2px 3px; }

footer.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }
  @media screen and (max-width: 769px) {
    footer.footer {
      flex-wrap: wrap;
      padding: 2rem 1rem; } }

footer .copyright {
  display: flex;
  align-items: baseline; }
  @media screen and (max-width: 769px) {
    footer .copyright {
      width: 50%;
      display: flex;
      justify-content: center; } }
  footer .copyright h4 {
    font-size: 14px; }

@media screen and (max-width: 769px) {
  footer .links {
    width: 50%;
    display: flex;
    justify-content: center; } }

footer .links ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #535351;
  list-style: none; }
  footer .links ul li {
    padding-left: 10px; }
    footer .links ul li:first-child {
      padding-left: 0;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px; }
    footer .links ul li a {
      color: #535351;
      text-decoration: none; }
      footer .links ul li a:hover {
        border-bottom: 2px solid #000; }

@media screen and (max-width: 769px) {
  footer .social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0; } }

footer .social-links ul {
  display: flex;
  list-style: none; }
  footer .social-links ul li {
    margin: 0 5px; }
    footer .social-links ul li a {
      text-decoration: none; }
      footer .social-links ul li a i {
        font-size: 2rem;
        color: #000;
        transition: all 0.3s ease; }
        footer .social-links ul li a i:hover {
          transform: scale(1.2); }

.contact {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 769px) {
    .contact {
      flex-direction: column-reverse; } }
  .contact .contact-form {
    width: 50%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 769px) {
      .contact .contact-form {
        width: 100%; } }
    @media screen and (max-width: 420px) {
      .contact .contact-form {
        padding-left: 0;
        padding-right: 0; } }
    .contact .contact-form button {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto; }
    .contact .contact-form .form-field {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 1rem; }
      .contact .contact-form .form-field label {
        font-size: 14px;
        font-weight: 600; }
      .contact .contact-form .form-field input {
        background: none;
        outline: none;
        border: 2px solid #000;
        height: 40px;
        font-size: 18px; }
      .contact .contact-form .form-field textarea {
        background: none;
        outline: none;
        border: 2px solid #000;
        resize: none; }
  .contact .contact-content {
    width: 50%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    @media screen and (max-width: 769px) {
      .contact .contact-content {
        width: 100%; } }
    .contact .contact-content .contact-logo {
      display: flex;
      justify-content: center; }
      .contact .contact-content .contact-logo i {
        font-size: 6rem;
        margin-bottom: 2rem; }
    .contact .contact-content .contact-text h3 {
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
      margin-bottom: 2.5rem; }
    .contact .contact-content .contact-text p {
      font-weight: 300;
      text-align: center; }

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0; }
  .about-content .about-section {
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0; }
    @media screen and (max-width: 769px) {
      .about-content .about-section {
        flex-direction: column; } }
    @media screen and (max-width: 769px) {
      .about-content .about-section:nth-child(2) .content-text {
        order: 2; } }
    @media screen and (max-width: 769px) {
      .about-content .about-section:nth-child(2) .content-img {
        order: 1; } }
    .about-content .about-section .content-img {
      width: 40%;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 769px) {
        .about-content .about-section .content-img {
          width: 100%;
          padding-top: 1rem;
          padding-bottom: 0; } }
      .about-content .about-section .content-img i {
        font-size: 8rem; }
    .about-content .about-section .content-text {
      width: 60%;
      padding: 2rem 0;
      padding-left: 3rem;
      padding-right: 2rem; }
      @media screen and (max-width: 769px) {
        .about-content .about-section .content-text {
          width: 100%; } }
      @media screen and (max-width: 480px) {
        .about-content .about-section .content-text {
          padding: 1rem; } }
      .about-content .about-section .content-text h3 {
        margin-bottom: 1rem;
        font-size: 2.2rem;
        font-weight: 800; }
        @media screen and (max-width: 480px) {
          .about-content .about-section .content-text h3 {
            font-size: 1.8rem; } }
      .about-content .about-section .content-text p {
        font-size: 14px;
        font-weight: 300;
        color: var(--color-gray); }

.dashboard {
  padding: 2rem 1rem; }
  @media screen and (max-width: 420px) {
    .dashboard {
      padding: 2rem 0; } }
  .dashboard form {
    display: flex;
    flex-direction: column; }
    .dashboard form .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.3rem; }
      .dashboard form .form-field label {
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
        font-weight: 600; }
      .dashboard form .form-field input {
        height: 35px;
        background: none;
        border: 2px solid #000;
        font-size: 18px; }
        .dashboard form .form-field input[type="text"] {
          padding-left: 0.5rem; }
        .dashboard form .form-field input::placeholder {
          height: 20px;
          color: #535351;
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          padding-left: 0.5rem; }
      .dashboard form .form-field textarea {
        resize: none;
        width: 100%;
        border: 2px solid #000;
        padding-left: 0.5rem;
        background: none;
        font-size: 18px; }
        .dashboard form .form-field textarea::placeholder {
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          padding-left: 0.5rem;
          padding-top: 0.5rem; }
        .dashboard form .form-field textarea[type="text"] {
          padding-left: 0.5rem;
          padding-top: 0.5rem; }

.post {
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 500px; }
  .post .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    vertical-align: text-bottom; }
    .post .post-header span {
      font-size: 14px;
      font-weight: 600;
      color: #535351; }
    .post .post-header span:nth-child(2) {
      margin-right: 15px; }
    .post .post-header i {
      color: #535351;
      font-size: 16px;
      margin-right: 5px; }
  .post .post-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .post .post-body h3 {
      font-size: 1.8rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
    .post .post-body p {
      margin-top: 1rem;
      font-size: 14px;
      color: #535351;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
  .post .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; }
    .post .post-footer .user {
      display: flex;
      align-items: center; }
      .post .post-footer .user i {
        font-size: 22px;
        margin-right: 6px; }
      .post .post-footer .user p {
        font-size: 13px;
        font-weight: 500;
        color: #000; }
        .post .post-footer .user p span {
          font-size: 14px;
          font-weight: 600;
          color: #535351; }
          .post .post-footer .user p span:hover {
            color: #000;
            cursor: pointer; }
    .post .post-footer .tags {
      display: flex;
      align-items: center; }
      .post .post-footer .tags i {
        font-size: 18px; }
      .post .post-footer .tags span {
        font-size: 14px;
        font-weight: 600;
        color: #535351;
        margin-right: 8px;
        cursor: pointer; }
        .post .post-footer .tags span:hover {
          color: #000;
          cursor: pointer; }

.single-container {
  border: 1px solid red;
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .single-container .single-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .single-container .single-header h3 {
      font-size: 2.2rem;
      font-weight: 600; }
    .single-container .single-header .single-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .single-container .single-header .single-info .user {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding-top: 1rem;
        margin-right: 5px; }
        .single-container .single-header .single-info .user i {
          font-size: 22px;
          margin-right: 6px; }
        .single-container .single-header .single-info .user p {
          font-size: 13px;
          font-weight: 500;
          color: #000; }
          .single-container .single-header .single-info .user p span {
            font-size: 14px;
            font-weight: 600;
            color: #535351; }
            .single-container .single-header .single-info .user p span:hover {
              color: #000;
              cursor: pointer; }
      .single-container .single-header .single-info .info {
        display: flex;
        align-items: center;
        vertical-align: text-bottom;
        white-space: nowrap;
        padding-top: 1rem; }
        .single-container .single-header .single-info .info span {
          font-size: 14px;
          font-weight: 600;
          color: #535351; }
        .single-container .single-header .single-info .info span:nth-child(2) {
          margin-right: 15px; }
        .single-container .single-header .single-info .info i {
          color: #535351;
          font-size: 16px;
          margin-right: 5px; }
  .single-container .single-body {
    display: flex;
    flex-direction: column; }
    .single-container .single-body h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .single-container .single-body p {
      margin-bottom: 1.5rem;
      font-size: 14px;
      color: #535351;
      font-weight: 500; }
    .single-container .single-body .tags {
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
      .single-container .single-body .tags p {
        margin-right: 1rem;
        margin-bottom: 0; }
      .single-container .single-body .tags i {
        font-size: 18px; }
      .single-container .single-body .tags span {
        font-size: 14px;
        font-weight: 600;
        color: #535351;
        margin-right: 8px;
        cursor: pointer; }
        .single-container .single-body .tags span:hover {
          color: #000;
          cursor: pointer; }
  .single-container .single-links {
    display: flex;
    flex-direction: column; }
    .single-container .single-links p {
      font-size: 14px;
      font-weight: 500;
      color: #535351;
      margin-bottom: .5rem; }
    .single-container .single-links ul {
      list-style: none;
      display: flex; }
      .single-container .single-links ul li a {
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        margin-right: 10px; }
        .single-container .single-links ul li a i:hover {
          transform: scale(1.4); }

aside {
  display: flex;
  justify-content: center; }
  aside ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    aside ul li {
      padding: 8px 10px; }
      aside ul li a {
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent; }
        aside ul li a:hover {
          border-bottom: 2px solid #000; }
        aside ul li a i {
          font-size: 1.2rem;
          margin-right: 4px; }

.navigation {
  display: flex;
  justify-content: center;
  padding: 2rem 0; }
  .navigation ul {
    display: flex;
    list-style: none;
    align-items: center;
    color: #000; }
    .navigation ul .arrow {
      display: flex;
      align-items: center;
      border-bottom: none; }
      .navigation ul .arrow:hover {
        border-bottom: none; }
      .navigation ul .arrow i {
        font-size: 1.4rem;
        color: #000; }
    .navigation ul li {
      cursor: pointer;
      font-size: 1rem;
      margin: 0 8px;
      border-bottom: 2px transparent solid; }
      .navigation ul li a {
        text-decoration: none;
        color: #000; }
      .navigation ul li:hover {
        border-bottom: 2px solid #000; }
      .navigation ul li.active {
        cursor: default;
        font-weight: 600;
        border-bottom: 2px solid #535351;
        pointer-events: none; }
        .navigation ul li.active a {
          color: #535351; }

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; }
  .title-container .title {
    width: max-content; }
    .title-container .title h3 {
      font-size: 1.5rem;
      border-bottom: 2px solid #000; }
  .title-container .nav-title {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap; }
    .title-container .nav-title p {
      margin-right: 2px; }
      .title-container .nav-title p a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        border-bottom: 2px solid transparent; }
        .title-container .nav-title p a:hover {
          border-bottom: 2px solid #000; }
      .title-container .nav-title p.active {
        font-weight: 600;
        color: #535351;
        cursor: default; }
    .title-container .nav-title i {
      font-size: 1.5rem; }

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0; }
  .error .icon-container {
    font-size: 5rem; }
  .error h3 {
    margin-top: -1.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center; }
  .error p {
    text-align: center; }
