.create-post {
  padding: 2rem 1rem;
  @media screen and (max-width: $mb) {
    padding: 2rem 0;
  }
  form {
    display: flex;
    flex-direction: column;

    .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.3rem;

      &.select {
        max-width: 300px;

        label {
          font-size: 1rem;
        }
      }


      &.min {
        label {
          font-size: 1rem;
        }
        
        input {
          max-width: 50px;
          font-size: 1rem;
          height: 30px;
          border: 2px solid $color-black;
        }
      }

      label {
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
        font-weight: 600;
      }

      input {
        height: 35px;
        background: none;
        border: 2px solid $color-black;
        font-size: 18px;

        &[type="text"] {
          padding-left: 0.5rem;
        }

        &::placeholder {
          height: 20px;
          color: $color-gray;
          font-family: $ff-2;
          font-weight: 300;
          padding-left: 0.5rem;
        }
      }

      select {
        height: 28px;
        background: none;
        border: 2px solid $color-black;
        font-size: 16px;

        &[type="text"] {
          padding-left: 0.5rem;
        }
        
      }

      option {
        font-size: .9rem;
      }

      textarea {
        resize: none;
        width: 100%;
        border: 2px solid $color-black;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        background: none;
        font-size: 18px;

        &::placeholder {
          font-family: $ff-2;
          font-size: 18px;
          // padding-left: 0.5rem;
          // padding-top: 0.5rem;
        }

        &[type="text"] {
          // padding-left: 0.5rem;
          // padding-top: 0.5rem;
        }
      }

      .form-tags {
        display: flex;
        flex-wrap: wrap;

        span {
          max-width: max-content;
          display: flex;
          align-items: center;
          margin-right: 10px;

          input {
            margin-right: 5px;
          }

          label {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
