.navigation {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  ul {
    display: flex;
    list-style: none;
    align-items: center;

    a {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 3px;
      text-decoration: none;
      border: 2px solid $color-black;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        text-decoration: none;
        color: $color-black;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;


        i {
          font-size: 1.4rem;
        }

      }
      &.active {
        background: $color-black;
        li {
          font-weight: 600;
          color: $color-white;
        }
      }

      &:hover {
        background: $color-black;
        li {
          color: $color-white;
          font-weight: 600;
        }
      }
    }
  }
}
